<a href="https://colab.research.google.com/github/butterfly-artist/python-revisions/blob/main/basics_of_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

hello world

In [ ]:
name="students name"
print("welcome", name)

welcome students name

In [ ]:
name1=input()
print("entered name is ",name1)
college= float(input("Percentage"))
print("college percentage is", college)

madhu\\
entered name is  madhu\\
Percentage8.88
college percentage is 8.88

In [ ]:
x=22
y=33
print("x=",x,"y=",y)
y=x
print("x=",x,"y=",y)
print("type of x is:",type(x))
print(type("t"))
print(type(12.777))
print("student \t is \t late")

x= 22 y= 33
x= 22 y= 22
type of x is: <class 'int'>
<class 'str'>
<class 'float'>
student 	 is 	 late

In [ ]:
#many initalizations
x,y,z=10,20,30
print(x,y,z)
#one to many
a=b=c=33
print(a,b,c)
print(bin(14))
print(oct(14))
print(hex(14))

10 20 30
33 33 33
0b1110
0o16
0xe

In [ ]:
#swapping of two numbers
m=10
n=22
print(m,n)
m,n=n,m
print(m,n)

10 22
22 10

In [ ]:
#swapping
a=22
b=33
c=44
temp=None
print(a,b,c)
temp=a
a=c
c=b
b=temp
print(a,b,c)

22 33 44
44 22 33

In [ ]:
#caluclator program
num1=int(input("Enter num 1:"))
num2=int(input("enter num2:"))
print("Enter 1 for add")
print("Enter 2 for sub")
print("Enter 3 for div")
print("Enter 4 for mul")
print("Enter 5 to 10 for other opertors as well for rem")
enter=int(input("choice"))
if enter==1:
  print("add",num1+num2)
elif enter==2:
  print("sub",num1-num2)
elif enter== 3:
  print("div",num1/num2)
elif enter== 4:
  print("mul",num1*num2)
elif enter==5:
  print("rem",num1%num2)
elif enter==6:
  print("round", num1//num2)
elif enter==7:
  print("equal",num1==num2)
elif enter==8:
  print("greater or equal ",num1>=num2)
elif enter==9:
  print("less or eql",num1<=num2)
elif enter==10:
  print("greater or lesser ",num1>num2)

Enter num 1:5
enter num2:7
Enter 1 for add
Enter 2 for sub
Enter 3 for div
Enter 4 for mul
Enter 5 to 10 for other opertors as well for rem
choice7
equal False

In [ ]:
#to find the area of the cirle and rectangle
import math
n1=int(input("enter radius of area "))
area=math.pi*n1*n1
print("area circle:",area)
length=int(input("enter length; "))
width=int(input('width; '))
area2=length*width
print("Area rectangel:",area2)

enter radius of area 5
area circle: 78.53981633974483
enter length; 6
width; 78
Area rectangel: 468

In [ ]:
#print the average of given numbers
number1=int(input("Enter number1"))
number2=int(input("Enter number2"))
number3=int(input("Enter number3"))
sums=(number1+number2+number3)/3
print(sums)

Enter number16
Enter number27
Enter number34
5.666666666666667

In [ ]:
#to print addition of 1st and 4th didgit
four=int(input("four digit num:"))
num01=four//1000
num02=four%10
addition=num01+num02
print("added value of 1st and 4th num is;",addition)

four digit num:12345
added value of 1st and 4th num is; 17

In [ ]:
num12=3+8j
print(num12.imag)
print(num12.real)
a=10
b=20
print("\n a+b=",a+b)
print("\n {}+{}={}".format(a,b,a+b))
print("\n pow {},{}={}".format(3,4,3**4))

8.0
3.0

 a+b= 30

 10+20=30

 pow 3,4=81

In [ ]:
a,b,c,d=10,20,30,40
print(a,b,c,d,sep=" @ ", end="#")

10 @ 20 @ 30 @ 40#

In [ ]:
#list of data type
int123=["one","two","three","four"]
print(type(int123))
int1234={"hello":"world","good":"morning","good":"night"}
print(type(int1234))
int12345=("one","two","three","four")
print(type(int12345))

<class 'list'>
<class 'dict'>
<class 'tuple'>

In [ ]:
from typing import Counter
#methods of lists
Li1=[1,5,8,66,9,6,3,12,54,63,71,4]
print(Li1[5])
print(Li1[3:9:2])
print(Li1[5:7])
print(Li1[::-1])
print(Li1[::])
Li1[2]=20
print(Li1)
print(len(Li1))
print(sum(Li1))
print(sorted(Li1))
print(sorted(Li1, reverse=True))
print(45 not in Li1)
print(55 in Li1)
l1=[12,43]
l1.append(34)
print(l1)
l1.extend(Li1)
l1.extend([1,4,7,9,34,3432])
print(l1)
l1.insert(4,222)
print(l1)
print(l1.pop())
print(l1)
print(l1.pop(2))
print(l1)
l1.remove(222)
print(l1)
print(l1.count(9))

6
[66, 6, 12]
[6, 3]
[4, 71, 63, 54, 12, 3, 6, 9, 66, 8, 5, 1]
[1, 5, 8, 66, 9, 6, 3, 12, 54, 63, 71, 4]
[1, 5, 20, 66, 9, 6, 3, 12, 54, 63, 71, 4]
12
314
[1, 3, 4, 5, 6, 9, 12, 20, 54, 63, 66, 71]
[71, 66, 63, 54, 20, 12, 9, 6, 5, 4, 3, 1]
True
False
[12, 43, 34]
[12, 43, 34, 1, 5, 20, 66, 9, 6, 3, 12, 54, 63, 71, 4, 1, 4, 7, 9, 34, 3432]
[12, 43, 34, 1, 222, 5, 20, 66, 9, 6, 3, 12, 54, 63, 71, 4, 1, 4, 7, 9, 34, 3432]
3432
[12, 43, 34, 1, 222, 5, 20, 66, 9, 6, 3, 12, 54, 63, 71, 4, 1, 4, 7, 9, 34]
34
[12, 43, 1, 222, 5, 20, 66, 9, 6, 3, 12, 54, 63, 71, 4, 1, 4, 7, 9, 34]
[12, 43, 1, 5, 20, 66, 9, 6, 3, 12, 54, 63, 71, 4, 1, 4, 7, 9, 34]
2

In [ ]:
l2=5>3 and 5>2
print(l2)
l3=5<3 or 1>2
print(l3)

True
False

In [ ]:
x=int(input("enter any num"))
if x==10:
  print("x=10")
else:
  print('x is not eqal to 10')

enter any num33
x is not eqal to 10

In [ ]:
x=[2,87,53,9,23,8,61]
for i in range(0,8):
  print(x)

[2, 87, 53, 9, 23, 8, 61]
[2, 87, 53, 9, 23, 8, 61]
[2, 87, 53, 9, 23, 8, 61]
[2, 87, 53, 9, 23, 8, 61]
[2, 87, 53, 9, 23, 8, 61]
[2, 87, 53, 9, 23, 8, 61]
[2, 87, 53, 9, 23, 8, 61]
[2, 87, 53, 9, 23, 8, 61]

In [ ]:
b=[]
sum=0
n=int(input('enter num'))
for i in range(0,n):
  ele=int(input("enter the ele:"))
  b.append(ele)
print("list ele areL")
for i in range(0,n):
  print(b[i],end="\t")
  sum=sum+b[i]
  print("sum ais",sum)

enter num2
enter the ele:32
enter the ele:42
list ele areL
32	sum ais 32
42	sum ais 74

In [ ]:
# to check wheather perfect number or not
nm=int(input('enter num:'))
sum=0
for i in range(1,nm):
  if nm % i==0:
    sum=sum+i
    print(sum)
if sum==nm:
  print("its perfect num")
else:
  print("its not perfect num")

enter num:8
1
3
7
its not perfect num