<a href="https://colab.research.google.com/github/butterfly-artist/python-revisions/blob/main/basic_pyyyyy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
l1=["hello","myself","madhu","lika","feel","free","to","talk","with","me","anytime"]
print(l1)
print(type(l1))
l2={"hello","myself","madhu","lika","feel","free","to","talk","with","me","madhu","anytime"}
print(l2)
print(type(l2))
s1={2,3,6,2,8}
print(s1)
print(type(s1))
d={1:"apple",2:"ball",3:"cat",4:"dog"}
print(d)
print(type(d))
d1={"Name":"Madhulika","age":17,"gender":"female"}
print(d1)
print(type(d1))
d2=dict(a="CSE",b="section",c="ACE")
print(d2)
print(type(d2))
print(len(l1))
print(len(l2))
print(len(s1))
print(len(d1))

['hello', 'myself', 'madhu', 'lika', 'feel', 'free', 'to', 'talk', 'with', 'me', 'anytime']
<class 'list'>
{'with', 'talk', 'madhu', 'hello', 'lika', 'feel', 'free', 'me', 'to', 'anytime', 'myself'}
<class 'set'>
{8, 2, 3, 6}
<class 'set'>
{1: 'apple', 2: 'ball', 3: 'cat', 4: 'dog'}
<class 'dict'>
{'Name': 'Madhulika', 'age': 17, 'gender': 'female'}
<class 'dict'>
{'a': 'CSE', 'b': 'section', 'c': 'ACE'}
<class 'dict'>
11
11
4
3

In [ ]:
d3=dict(d="madhulika",key="values")
print(d3["key"])
print(type(d3))
print(d3.get("key"))
d3["age"]=17
d3["d"]="rama"
print(d3)
key,val=d3.popitem()
print(f"key:{key},value:{val}")
d3.clear()
print(d3)

values
<class 'dict'>
values
{'d': 'rama', 'key': 'values', 'age': 17}
key:age,value:17
{}

In [ ]:
d1={"Name":"Madhulika","age":17,"gender":"female"}
del d1["age"]
print(d1)
va= d1.pop("Name")
print(va)

{'Name': 'Madhulika', 'gender': 'female'}
Madhulika

In [ ]:
print(d2)
for key in d2:
  print(key)

{'a': 'CSE', 'b': 'section', 'c': 'ACE'}
a
b
c

In [ ]:
for key in d2:
  print(d2[key])
print("\n")
for value in d2.values():
  print(value)
print("\n")
for key,value in d2.items():
  print(f"key:{key}, values:{value}")

CSE
section
ACE


CSE
section
ACE


key:a, values:CSE
key:b, values:section
key:c, values:ACE

In [ ]:
d={1:"apple","Name":"Madhulika","age":17,"gender":"female",12:{'a': 'CSE', 'b': 'section', 'c': 'ACE'}}
print(d)
print(len(d))
print(d.keys())
print(d.values())
print(list(d.items()))

{1: 'apple', 'Name': 'Madhulika', 'age': 17, 'gender': 'female', 12: {'a': 'CSE', 'b': 'section', 'c': 'ACE'}}
5
dict_keys([1, 'Name', 'age', 'gender', 12])
dict_values(['apple', 'Madhulika', 17, 'female', {'a': 'CSE', 'b': 'section', 'c': 'ACE'}])
[(1, 'apple'), ('Name', 'Madhulika'), ('age', 17), ('gender', 'female'), (12, {'a': 'CSE', 'b': 'section', 'c': 'ACE'})]

In [ ]:
a=[1,4,6,2,8]
res=[val**2 for val in a]
print(res)
res=[val*2 for val in a]
print(res)
res=[val%2==0 for val in a]
print(res)

res=[val for val in a if val%2==0]
print(res)

[1, 16, 36, 4, 64]
[2, 8, 12, 4, 16]
[False, True, True, True, True]
[4, 6, 2, 8]

In [ ]:
#lamda
n=lambda x: x**2
print(n(4))

16

In [ ]:
n=lambda x:"positive" if x>0  else "neg" if x<0 else "zero"
print(n(5))

positive

In [ ]:
l1=[1,3,5,7,9,11]
squre=map(lambda x:x**2,l1)

print(list(squre))

[1, 9, 25, 49, 81, 121]

In [ ]:
l1=[1,3,4,9,3,5,7,9,11]
squre=filter(lambda x:x%2==0,l1)

print(list(squre))

[4]

In [ ]:
l1=[1,3,5,7,9,11]
squre=filter(lambda x:x**2,l1)
print(list(squre))

[1, 3, 5, 7, 9, 11]

In [ ]:
#write a python program to convert keys to values and values to keys

In [ ]:
from functools import reduce
a=[1,3,4,6,7]
b=reduce(lambda x,y:x*y,a)
print(b)

504